# Copy to .env and fill in values
INDUSTRY=Movies
OLLAMA_MODEL=llama3
IMAGE_MODEL=StableDiffusion
NEWS_SOURCES=google_news
MAX_ARTICLES=10
SQLITE_DB_PATH=/Users/pavanbavirisetty/Documents/personal/social_media_post_generator/data/automation.db
OUTPUT_DIR=/Users/pavanbavirisetty/Documents/personal/social_media_post_generator/output
